@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

header {
  height: 126px;
}

.logo img {
  position: absolute;
  left: 55px;
  top: 44px;
  width: 61.09px;
  height: 19px;
}

.nav-link a {
  text-decoration: none;
  margin-right: 94px;
  position: relative;
}

.nav-link a:hover {
  color: #0065fc;
}

/* ////// Affichage de la barre bleue au survol de souris /////  */

.nav-link a:hover::before {
  content: "";
  display: block;
  width: 150%;
  height: 2px;
  background-color: #0065fc;
  position: absolute;
  top: -48px;
  left: -25%;
}

.nav-link {
  position: absolute;
  right: -14px;
  top: 48px;
}

.titre h1 {
  font-weight: 700;
  font-size: 22px;
}

.sous-titre h2 {
  font-weight: 400;
  font-size: 16px;
}
.hdp {
  position: absolute;
  left: 55px;
}

/* Mise en horizontal du formulaire : */
.form-horizontal {
  display: flex;
  flex-wrap: nowrap;
  border: none;
  position: absolute;
  margin-top: 130px;
  margin-left: 55px;
}
/*  */

.loc-button {
  background: #f2f2f2;
  font-size: 18px;
  padding: 14px 18px;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.search-text {
  border: 1px solid #f2f2f2;
  font-weight: 700;
  padding-left: 15px;
  font-size: 18px;
}

/* Suppression des bordures noires épaisses quand on clique sur la zone a remplir */
input:focus {
  border: none;
  outline: 1px solid #f2f2f2;
}

.search-button {
  border: none;
  background-color: #0065fc;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  padding: 14px 16px;
  line-height: 21px;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
}

.filtres {
  margin-top: 205px;
  margin-left: 72px;
}

.filtres-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 45px;
  gap: 48px;
}

.filtres p {
  font-weight: 700;
  font-size: 18px;
}

.filtre {
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  flex-grow: 0;
  width: auto;
  padding: 1em 1em;
  font-weight: 700;
  font-size: 17px;
}

.filtre:hover {
  background-color: #deebff;
}
/* Changer la couleur des icones FONTAWESWOME */
.filtres i {
  color: #0065fc;
}

.infos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  flex-grow: 0;
  margin-top: 28px;
  margin-left: 70px;
}
.info-logo {
  border: 1px solid #d9d9d9;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #0065fc;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-info {
  padding-top: 2px;
}

.block-card {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 50px 5% 0 55px;
}

.block-card h2 {
  padding-left: 37px;
  margin-top: 49px;
}

.first-block {
  display: flex;
  flex-direction: row;
  height: 626px;
  width: 880px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.second-block {
  position: relative;
  height: 625px;
  width: 420px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
/* Icone dans le blocs LES PLUS POPULAIRES */
.grow {
  position: absolute;
  right: 46px;
  top: 55px;
  color: #0065fc;
  width: 18px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.first-block {
  display: flex;
  flex-direction: column;
}

/* CARTE DU PREMIER BLOCK */
.card-container-first-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  margin: 10px;
  max-width: 246px;
  max-height: 199px;
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card {
  border: 5px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.image-container {
  width: 100%;
  float: left;
}

.card-body {
  width: 100%;
  padding: 10px;
  float: left;
}

.title {
  margin-top: -10px;
  max-width: 246px;
  font-size: 16px;
}

.text {
  margin-top: -15px;
  font-size: 14px;
}

.stars {
  margin-top: -10px;
  display: flex;
}

.stars i {
  color: #ccc;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 246px;
  max-height: 124px;
}

#bright {
  color: #0065fc;
}

.show-more {
  padding-left: 56px;
  font-size: 18px;
  font-weight: 700;
}
