@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

header {
  height: 126px;
}

body {
  margin-right: 6%; /* ajoute une marge de 5% à droite de la page pour éviter le déffilement horizontal */
}

.logo img {
  position: absolute;
  left: 55px;
  top: 44px;
  width: 61.09px;
  height: 19px;
}

.nav-link a {
  text-decoration: none;
  margin-right: 94px;
  position: relative;
}

.nav-link a:hover {
  color: #0065fc;
}

/* ////// Affichage de la barre bleue au survol de souris /////  */

.nav-link a:hover::before {
  content: "";
  display: block;
  width: 150%;
  height: 2px;
  background-color: #0065fc;
  position: absolute;
  top: -48px;
  left: -25%;
}

.nav-link {
  position: absolute;
  right: 0%;
  top: 48px;
}

.titre h1 {
  font-weight: 700;
  font-size: 22px;
}

.sous-titre h2 {
  font-weight: 400;
  font-size: 16px;
}
.hdp {
  position: absolute;
  left: 55px;
}

/* Mise en horizontal du formulaire : */
.form-horizontal {
  display: flex;
  flex-wrap: nowrap;
  border: none;
  position: absolute;
  margin-top: 130px;
  margin-left: 55px;
}
/*  */

.loc-button {
  background: #f2f2f2;
  font-size: 18px;
  padding: 14px 18px;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.search-text {
  border: 1px solid #f2f2f2;
  font-weight: 700;
  padding-left: 15px;
  font-size: 18px;
}

/* Suppression des bordures noires épaisses quand on clique sur la zone a remplir */
input:focus {
  border: none;
  outline: 1px solid #f2f2f2;
}
.search-icon {
  display: none;
}
.search-button {
  border: none;
  background-color: #0065fc;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  padding: 14px 16px;
  line-height: 21px;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
}

.filtres {
  margin-top: 205px;
  margin-left: 72px;
}

.filtres-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 45px;
  gap: 48px;
}

.filtres p {
  font-weight: 700;
  font-size: 18px;
}

.filtre {
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  flex-grow: 0;
  width: auto;
  padding: 1em 1em;
  font-weight: 700;
  font-size: 17px;
}

.filtre:hover {
  background-color: #deebff;
}
/* Changer la couleur des icones FONTAWESWOME */
.filtres i {
  color: #0065fc;
}

.infos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  flex-grow: 0;
  margin-top: 28px;
  margin-left: 70px;
}
.info-logo {
  border: 1px solid #d9d9d9;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #0065fc;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-info {
  padding-top: 2px;
}

.block-card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  left: 50px;
  top: 39px;
}

.block-card h2 {
  padding-left: 1em;
  margin-top: 1.8em;
}

.first-block {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 65%;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.second-block {
  position: relative;
  height: auto;
  min-width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding-bottom: 25px;
}
/* Icone dans le blocs LES PLUS POPULAIRES */
.grow {
  position: absolute;
  left: 85%;
  right: 0%;
  top: 7%;
  bottom: 0%;
  color: #0065fc;
}

/* CARTE DU PREMIER BLOCK */
.card-container-first-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  width: 100%;
  margin: 10px;
  max-width: 246px;
  max-height: 199px;
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border: 5px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.image-container {
  width: 100%;
  float: left;
}

.card-body {
  width: 100%;
  padding: 10px;
  float: left;
}

.title {
  margin-top: -10px;
  max-width: 246px;
  font-size: 16px;
}

.text {
  margin-top: -15px;
  font-size: 14px;
}

.stars {
  margin-top: -10px;
  display: flex;
}

.stars,
.stars-pop i {
  color: #ccc;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 246px;
  max-height: 124px;
}

#bright {
  color: #0065fc;
}

.show-more {
  padding-left: 56px;
  font-size: 18px;
  font-weight: 700;
}

.card-body-pop {
  padding: 10px;
  float: left;
  display: grid;
  grid-column: 1fr 1fr;
  grid-column-start: 2;
}

.image-container-pop {
  grid-column-start: 1;
}

.image-container-pop {
  width: 100%;
  float: left;
}

.card-pop {
  width: 100%;
  margin: 10px;
  width: 343px;
  height: 144px;
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border: 5px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
}

.card-body-pop {
  display: grid;
  grid-template-rows: auto auto;
}
.image-container-pop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 137px;
  height: 144px;
}

.title-pop {
  font-size: 16px;
  margin: auto;
  position: absolute;
  top: 6px;
  left: 50%;
}

.text-pop {
  font-size: 14px;
  margin: auto;
  position: absolute;
  top: 46px;
  left: 50%;
}

.stars-pop {
  position: absolute;
  top: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 50%;
}

.card-container-second-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 0 40px 0 37px;
}

.activities-block {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  gap: 43px;
}

.activities-block h2 {
  position: absolute;
  left: 50px;
}

.activities-card-container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  left: 50px;
}

#resize-img {
  width: 100%;
}

.activities-card {
  position: absolute;
  top: 78.47px;
  min-width: 90%;
  max-width: 302px;
  max-height: 444.51px;
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  overflow: hidden;
}

.activities-image-container img {
  height: 389px;
}

.activities-title {
  padding-left: 19px;
  margin-top: 12px;
}

.footer {
  position: relative;
  top: 700px;
  margin-left: 50px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #d9d9d9;
  width: 100%;
}

/* MISE EN PLACE DU RESPONSIVE DESIGN */

/* RESPONSIVE DESIGN POUR TABLETTE */

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-link {
    right: 0%;
  }

  .form-horizontal {
    margin-top: 0;
    margin-left: 38px;
    position: absolute;
  }
  .hdp {
    position: relative;
  }
  .filtres {
    position: relative;
    margin-top: 100px;
    margin-left: 58px;
  }
  .filtres-container {
    width: 100%;
    flex-wrap: nowrap;
    gap: 25px;
  }

  .filtre {
    min-width: auto;
    max-width: 100%;
    font-size: 13px;
    height: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .filtres p {
    position: relative;
    top: -7px;
  }

  .filtres i {
    padding-right: 8px;
  }

  .infos {
    position: relative;
    margin: 10px 0 0px 52px;
  }

  .first-block {
    width: 90%;
    max-height: 626px;
    padding-right: 50px;
  }

  .card-container-first-block {
    width: auto;
    gap: 20px;
    padding: 0% 5%;
    padding-right: 0;
  }

  .card {
    width: 28%;
    margin: 0;
  }
  .show-more {
    padding-bottom: 30px;
    padding-top: 25px;
  }

  .card-container-second-block {
    flex-direction: row;
    width: auto;
    padding: 0% 5%;
    padding-right: 0;
    gap: 30px;
  }

  .card-pop {
    height: 134px;
  }

  .second-block {
    width: 90%;
    padding-right: 50px;
  }
  .card-body-pop {
    width: 50%;
  }

  .image-container-pop img {
    width: 50%;
  }

  .title-pop {
    font-size: 14px;
  }

  .text-pop {
    font-size: 13px;
  }
  .stars-pop i {
    font-size: 12px;
  }
  .grow {
    left: 95%;
    top: 17%;
  }
  .activities-block {
    width: 97%;
  }

  .activities-card {
    width: 182px;
    height: 267px;
    gap: 50px;
  }
  .activities-image-container img {
    max-height: 211px;
  }

  .activities-title {
    font-size: 16px;
  }

  .footer {
    top: 500px;
    width: 90%;
    max-height: 626px;
    padding-right: 50px;
  }
  .footer h2 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .footer p {
    font-size: 16px;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  header {
    height: 129px;
  }
  .logo {
    position: relative;
    left: 33%;
  }

  .nav-link {
    margin-left: 33px;
    gap: 41px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 16px;
    top: 100px;
  }

  .nav-link a:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0065fc;
    position: absolute;
    top: 33px;
    left: -0%;
  }

  .hdp {
    left: 15px;
  }

  .sous-titre h2 {
    margin-left: 3px;
  }

  .form-horizontal {
    margin-left: 0px;
  }

  .search-button {
    display: none;
  }
  .search-icon {
    display: block;
    border: none;
    background-color: #0065fc;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    padding: 14px 16px;
    line-height: 21px;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
  }

  .filtres {
    margin-left: 20px;
  }

  .filtres-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    grid-gap: 31px;
  }

  .title-filtre {
    grid-column: span 2;
  }

  .filtre {
    position: relative;
    top: -24px;
    width: 100%;
    height: 25px;
    text-align: left;
    font-size: 11px;
    line-height: 25px;
  }

  .filtre i {
    font-size: 15px;
  }

  .infos {
    margin-left: 20px;
    font-size: 16px;
    width: 100%;
  }

  .info-logo {
    border-radius: 55%;
    width: 24px;
    height: 24px;
    position: absolute;
  }

  .infos i {
    font-size: 14px;
  }
  .p-info {
    position: relative;
    left: 35px;
  }

  .block-card {
    flex-wrap: wrap-reverse;
    left: -10px;
    margin-left: 0;
    margin-right: 0;
  }

  .second-block {
    border-radius: 0%;
    min-width: 100%;
    background-color: #f2f2f2;
    margin-left: 0;
  }

  .first-block {
    width: 100%;
    margin-top: -40px;
    border-radius: 0%;
    background-color: white;
  }
  .card {
    width: 335px;
    max-width: 100%;
    margin: 0 15px 0 15px;
  }

  .image-container img {
    max-width: 100%;
  }

  .show-more {
    display: none;
  }

  .activities-block {
    flex-direction: column;
    position: relative;
    top: 80px;
    left: -10%;
  }

  .activities-card-container {
    margin-left: 0px;
  }

  .activities-card {
    width: 100%;
    margin: 10px;
    max-width: 334px;
    max-height: 190px;
    background-color: #ffffff;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  .activities-image-container img {
    height: 134px;
    width: 100%;
  }

  .footer {
    top: 200px;
    flex-direction: column;
    left: -16%;
    padding-left: 30px;
  }
}
